.App{
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  width: 500px;
  margin: 40px auto;
  text-align: center;
}


.search-bar{
  border:  1 px solid black;
  padding: 10px;
  width: 450px;
  height: 4px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f0f0;
  /* text-align: center; */
}
.results-container{
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 430px;
  margin: 10px auto;
  text-align: left;
  max-height: 450px;
  overflow-y: scroll;
  }
  .result{
    display: block;
    padding: 3px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    
  }
  .result:hover{
    background-color: beige;
    
  }


